name: Build Binaries

on:
  release:
    types: [published]

jobs:
  publish-tauri:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: amd64.AppImage
          - os: windows-latest
            artifact_name: x64.msi
          - os: macos-latest
            artifact_name: x64.dmg

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0 # Required due to the weg Git works, without it this action won't be able to find any or the correct tags
      - name: 'Get Previous tag'
        id: previoustag
        uses: 'WyriHaximus/github-action-get-previous-tag@v1'
      - name: setup node
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: 'npm'
      - name: install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: install webkit2gtk (ubuntu only)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y webkit2gtk-4.0
      - name: install app dependencies and build it
        run: npm i && npm run desktop:build
      - name: Upload binaries to release
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          npmScript: desktop:build
          tagName: ${{ steps.previoustag.outputs.tag }}
          releaseName: App ${{ steps.previoustag.outputs.tag }}
          releaseBody: 'See the assets to download this version and install.'
          releaseDraft: false
          prerelease: true
